<footer class="footer">
    <div class="container">

        <div class="row gy-5">

            <!-- LEFT -->
            <div class="col-lg-8">

                <div class="row gy-4">

                    <div class="col-md-4">
                        <h6 class="footer-title">Support</h6>

                        <ul class="footer-links">
                            <li><a href="#">Frequently Asked Questions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Delivery</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">About Us</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <h6 class="footer-title">Products</h6>

                        <ul class="footer-links">
                            <li><a href="#">Footwear</a></li>
                            <li><a href="#">Clothing</a></li>
                            <li><a href="#">Top Sellers</a></li>
                            <li><a href="#">New Arrivals</a></li>
                            <li><a href="#">Outlet</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

        <div class="footer-bottom">
            <p>
                © @DateTime.Now.Year SportWearShop. All rights reserved.
            </p>
        </div>

    </div>
</footer>